@font-face {
  font-family: 'IRANSansWebMedium';
  src: url('../fonts/IRANSansWeb-Medium.eot');
  src: url('../fonts/IRANSansWeb-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/IRANSansWeb-Medium.woff2') format('woff2'),
      url('../fonts/IRANSansWeb-Medium.woff') format('woff'),
      url('../fonts/IRANSansWeb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb-Bold.eot');
  src: url('../fonts/IRANSansWeb-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/IRANSansWeb-Bold.woff2') format('woff2'),
      url('../fonts/IRANSansWeb-Bold.woff') format('woff'),
      url('../fonts/IRANSansWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  font-family:'IRANSansWeb';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.body1{
  min-width: 240px;
  max-width: 440px;
  width: 100%;
  position: relative;
}







.Search{
  width: calc(100% - 58px);
  height: 45px;
  border-radius: 30px;
  border: 2px solid rgba(214, 214, 214, 1);
  background-color: rgba(245, 245, 245, 1);
  color: rgba(183, 183, 183, 1);
  font-size: 16px;
  font-weight: 700;
  outline: none;
  padding-right: 52px;

}

/* .Search::placeholder{
  padding-right: 30px;
} */